$black: #000;
$beige: #F4EEE0;


.wrapper{
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.topIntro{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 50vh;
  z-index: 10;
  background: $black;
  .topIntroloadingBar{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: $beige;
  }
}

.bottomIntro{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 50vh;
  z-index: 10;
  background: $black;
  .bottomIntroLoadingBar{
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 0;
    background: $beige;
  }
}

.container{
  width: 1240px;
  margin: 0 auto;
  min-width: 1240px;
  min-height: 100vh;
}

.themeButton{
  width: 24px;
  height: 24px;
  background: $black;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 40px;
  transform: translate(2px, -2px);
}
.themeButtonShadow{
  width: 24px;
  height: 24px;
  background: $beige;
  border-radius: 50%;
  position: absolute;
  top: 40px;
  right: 40px;
  transform: translate(2px, -2px);
}


.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 6rem;
  .nameOuter{
    height: 16rem;
    overflow: hidden;
    // background: blue;
    .nameInner{
      font-family: 'MAZIUSREVIEW20.09-Regular';
      text-transform: uppercase;
      font-size: 22rem;
      color: $black;
      letter-spacing: 0;
      line-height: 16rem;
      // background: red;
    }
  }
  .description{
    font-family: 'Graphik-Regular';
    font-size: 1rem;
    color: $black;
    letter-spacing: 0.01em;
    text-align: right;
    line-height: 1.5rem;
    transform: translateY(-5px);
    span{
      font-family: 'Graphik-Medium';
    }
  }
}
.surnameOuter{
  height: 23rem;
  transform: translateY(3rem);
  padding-bottom: 3rem;
  overflow: hidden;
  .surnameInner{
    font-family: 'MAZIUSREVIEW20.09-Extraitalic';
    transform: translateY(-5rem);
    text-transform: uppercase;
    font-size: 22rem;
    color: $black;
    line-height: 28rem;
  }
}
.scroll{
  position: absolute;
  right: 40px;
  bottom: 40px;
  transform: rotate(-90deg) translate(50px, 35px);
  text-transform: uppercase;
  font-family: 'Graphik-Regular';
  font-size: 0.75rem;
  color: $black;
  letter-spacing: 0;
}


// WORK
.workContainer{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 140px 0;

  .workTitle{
    // background: yellow;
    h2{
      // background: pink;
      position: relative;
      top: 110px;
      left: -70px;
      transform: rotate(-90deg);
      font-family: 'Graphik-Medium';
      font-weight: normal;
      font-size: 5rem;
      color: $black;
      letter-spacing: 0;
      text-transform: uppercase;
      margin: 0;
    }
  }

  .workListContainer{
    .workProject{
      text-align: right;
      p{
        margin: 0;
        display: inline;
        font-family: 'MAZIUSREVIEW20.09-Regular';
        font-weight: normal;
        font-size: 5rem;
        color: $black;
        letter-spacing: 0;
        line-height: 7rem;
        cursor: pointer;
        &:hover{
          font-family: 'MAZIUSREVIEW20.09-Extraitalic';
        }
        &:hover::before{
          content: '';
          display: inline-block;
          height: 80px;
          width: 120px;
          margin-right: 2rem;
          transform: translateY(0.75rem);
          // background: url(https://media.giphy.com/media/z193jwEWnkHEk/source.gif);
          background: url(../public/kikzEyePreview.gif);
          background-size: cover;
        }

      }
      
    }
  }
}